---
import { Markdown } from 'astro/components';
const { product } = Astro.props;
---

<section>
    <img style="width:100%" src={product.image.sourceUrl} />
    <Markdown>
        **{product.name}**: ${product.price}
        ### {product.description}
    </Markdown>
</section>